# --- Configurações do Banco de Dados (PostgreSQL + pgvector) ---
PGVECTOR_TAG=pg18-trixie
POSTGRES_DB=BD_PESQUISADOR
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_segura_aqui
POSTGRES_HOST_AUTH_METHOD=trust

# --- Configurações do Metabase (DataView) ---
METABASE_TAG=v0.59.x
